---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const categories = await getCollection("categories");
---

<Layout>
  <main>
    <h1>blogroll</h1>
    <a href="https://github.com/fractalbeauty/blogroll">repo</a>

    <div class="list">
      {
        categories.map((category) => (
          <section>
            <h2>{category.id}</h2>
            <a href={`/${category.id}.opml`}>opml</a> /{" "}
            <a href={`/${category.id}.toml`}>toml</a>
            <ul>
              {category.data.map((feed) => (
                <li>
                  [<a href={feed.url}>☰</a>]{" "}
                  <a href={feed.site}>{feed.title}</a>
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  body {
    color: white;

    background: url("/bck-grid.gif");

    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  h1,
  h2 {
    margin-bottom: 4px;
  }

  a {
    color: lightgreen;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: square;
  }
  li {
    color: #999;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
  }
</style>
